<%= form_with model: [ @product, @product.comments.build ] do |form| %>
  <p>
    <%= form.label :text %><br>
    <%= form.text_field :text %>
  </p>
  <p>
    <%= form.label :status %><br>
    <%= form.select :status, Visible::VALID_STATUSES, selected: 'public' %>
  </p>
  
  <p>
    <%= form.submit %>
  </p>
<% end %>